# yandex-map-api/docker-compose.yml
version: '3.8'

services:
  map-api:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - ../.env
    restart: unless-stopped

networks:
  internal:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.30.25.0/28
